{% extends 'users/base_template.html' %}

{% block description %}Administration panel{% endblock %}

{% block title %}Administration panel{% endblock %}

{% block content %}
    
	<form class="form-horizontal" method="post" action="{% url 'users:resetpassword' %}">
		{% csrf_token %}
		<fieldset>
			
		    {% if error_message %}
		    <h4>{{ error_message }}</h4>
		    {% endif %}
			
		    {% if confirm_message %}
		    <h4>{{ confirm_message }}</h4>
		    {% endif %}
			
			<!-- Form Name -->
			<legend>Fill one of these fields</legend>
			
			<!-- Text input-->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="username">Username</label>  
			  <div class="col-md-4">
			  <input id="username" name="username" type="text" placeholder="username" class="form-control input-md" autofocus>
				
			  </div>
			</div>

			<!-- Text input-->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="email">Email</label>  
			  <div class="col-md-4">
			  <input id="email" name="email" type="email" placeholder="email" class="form-control input-md">
				
			  </div>
			</div>
			
			<!-- Button -->
			<div class="form-group" align="right">
			  <label class="col-md-4 control-label" for="submit"></label>
			  <div class="col-md-4">
				<button id="submit" name="submit" type="submit" class="btn btn-primary">Send reset email</button>
			  </div>
			</div>

		</fieldset>
	</form>
		
{% endblock %}
